body {
    background-color: grey;
    background-image: url('stemmascontornatoopaco.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 130% 100%;
    margin-right: 0; 
}


#italic {
    font-style: italic;
}

header {
    font-family: Minion Pro, serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    top: 20%;
    color: #0c0caf;
    font-size: 25px;
    margin-left: 40px;
}

article {
    color: #e0e0e0;
    padding-left: 40px;
    padding-right: 30px;
    width: 750px;
    margin-left: 300px;
    font-size: 20px;
}

footer {
    color: #e0e0e0;
    padding-top: 20px;
    padding-left: 40px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    left: 85%;
    bottom: 30%;
}

.button:hover {
    background-color: #555555;
    color: white;
}

a:link {
    color: blue; 
    background-color: transparent; 
    text-decoration: underline;
}

a:visited {
    color: #0f0f0f;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

#striscia {
    background-color: #f6f6f6;
    width: all;
    height: 100px;
    padding-top: 1px;
    padding-left: 80px;
    padding-bottom: 5px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}